.container {
    display: flex;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    background-image: url(/imgs/mercado.webp);
    display: grid;
    position: absolute;
    align-self: center;
    top: 80px;        
    z-index:2;
    /* width: 96%; */
    max-width: 110vh;
    height:83%;
    color:white;
    font-size:25px;
    padding: 5px;
    /* justify-content: center */
}
.p{
    display: flex;
    /* flex-flow: wrap; */
    margin: 10px 0px 0px 0px;
    border: 2px solid rgb(73, 23, 23);
    background-color: rgba(71, 10, 10, 0.5);
    height: fit-content;
    align-items: center;
}
.t{
    text-align: center;
    margin: 0px;
    padding: 20px;
    border-bottom: solid black;
}
.b{
    height: fit-content;
    width: 66px;
    padding: 5px;
    margin: 5px 5px 5px 20px;
}
.c{
    display: flex;
    color: black;
    font-size:25px;
    border: solid 1px black;
    width:40px;
    height: 40px;
    margin: 5px 5px 0px 0px;
    padding: 0px;
    position: absolute;
    justify-self:flex-end;
    justify-content: center;
    align-items: center;
}